// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.edit_job textarea {
  width: 100%;
}

form.edit_node_definition textarea {
  width: 100%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  min-height: 10em;
}

.connection-wrap, .connection {
  fill: none;
}

.available-magnet {
  fill: yellow;
}

.available-cell rect {
  stroke-dasharray: 5, 2;
}