// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.edit_job textarea {
  width: 100%;
}

form.edit_node_definition textarea {
  width: 100%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  min-height: 10em;
}

.connection-wrap, .connection {
  fill: none;
}

.available-magnet {
  fill: yellow;
}

.available-cell rect {
  stroke-dasharray: 5, 2;
}

#job-designer {
  background: linear-gradient(to bottom, #258dc8 0%,#258dc8 100%);
}

.context-menu {
  position: absolute;
  background-color: #31b0d5;
  border-radius: 0.45em;
  box-shadow: 4px 4px 5px #888888;
  border: 3px solid #21a0c5;
  color: #116644;
  left: 200px;
  top: 200px;
}